In [4]:
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
# Install Folium for Geographic data visualization
!pip install folium
# Install plotlyExpress
!pip install plotly_express

Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /private/var/folders/5q/41474j6n44s3hsrr0cjrlmsh0000gn/T/pip-req-build-gy813tec
  Running command git clone -q git://github.com/geopandas/geopandas.git /private/var/folders/5q/41474j6n44s3hsrr0cjrlmsh0000gn/T/pip-req-build-gy813tec
Requirement already satisfied: pandas>=0.25.0 in /opt/anaconda3/lib/python3.8/site-packages (from geopandas==0.10.2+15.g554d2ee) (1.3.4)
Collecting shapely>=1.6
  Downloading Shapely-1.8.0-cp38-cp38-macosx_10_9_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 2.8 MB/s eta 0:00:01
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp38-cp38-macosx_10_9_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 56 kB/s s eta 0:00:01
Collecting pyproj>=2.2.0
  Downloading pyproj-3.3.0-cp38-cp38-macosx_10_9_x86_64.whl (7.7 MB)
     |████████████████████████████████| 7.7 MB 8.7 MB/s eta 0:00:01
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas==0.10.2+15.g554d2ee) (21.2.0)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas==0.10.2+15.g554d2ee) (2021.10.8)
Requirement already satisfied: click>=4.0 in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas==0.10.2+15.g554d2ee) (8.0.3)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six>=1.7 in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas==0.10.2+15.g554d2ee) (1.15.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas==0.10.2+15.g554d2ee) (58.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas==0.10.2+15.g554d2ee) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas==0.10.2+15.g554d2ee) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas==0.10.2+15.g554d2ee) (1.21.2)
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.10.2+15.g554d2ee-py2.py3-none-any.whl size=1031778 sha256=ff0068fbbc73204c17659e9fd3b7b6c512c24436b454b31f3e698595f8b63581
  Stored in directory: /private/var/folders/5q/41474j6n44s3hsrr0cjrlmsh0000gn/T/pip-ephem-wheel-cache-npj458uy/wheels/37/ce/df/09721a3e578b57e217d038d0555fd872eba4e1fd9c8f6c8013
Successfully built geopandas
Installing collected packages: munch, cligj, click-plugins, shapely, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2+15.g554d2ee munch-2.5.0 pyproj-3.3.0 shapely-1.8.0
Collecting descartes
  Downloading descartes-1.1.0-py3-none-any.whl (5.8 kB)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.8/site-packages (from descartes) (3.5.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (8.4.0)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (1.3.1)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib->descartes) (4.25.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib->descartes) (1.15.0)
Installing collected packages: descartes
Successfully installed descartes-1.1.0
Collecting folium
  Downloading folium-0.12.1.post1-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 3.9 MB/s eta 0:00:01
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.8/site-packages (from folium) (1.21.2)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from folium) (2.26.0)
Requirement already satisfied: jinja2>=2.9 in /opt/anaconda3/lib/python3.8/site-packages (from folium) (2.11.3)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (2021.10.8)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1.post1
Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: numpy>=1.11 in /opt/anaconda3/lib/python3.8/site-packages (from plotly_express) (1.21.2)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly_express) (0.13.0)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from plotly_express) (0.5.2)
Requirement already satisfied: plotly>=4.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly_express) (5.1.0)
Requirement already satisfied: scipy>=0.18 in /opt/anaconda3/lib/python3.8/site-packages (from plotly_express) (1.7.1)
Requirement already satisfied: pandas>=0.20.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly_express) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.20.0->plotly_express) (2021.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from plotly>=4.1.0->plotly_express) (8.0.1)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [5]:
import pandas as pd
import dash
import dash_table
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Output, Input
import pandas as pd  # pip install pandas
import plotly.express as px
import math
from dash import no_update
import plotly.offline as pyo
import plotly.graph_objects as go
import numpy as np
from textblob import TextBlob
import matplotlib.pyplot as plt
import geopandas as gpd
import matplotlib.colors as colors
import matplotlib.cbook as cbook
import matplotlib as mpl
from matplotlib import cm

In [2]:
#orginal dataframe
df_orginal = pd.read_csv("YInt.csv")
#add ts for filtering 
df_orginal['ts'] = pd.to_datetime(df_orginal['time']).values.astype(np.int64) // 10 ** 9
df_orginal

,time,location,account,message,ts
0,2020-04-06 00:00:00,Weston,Opportunities2,"Take advantheeseage of theesehese One, theeser...",1586131200
1,2020-04-06 00:00:00,Southton,LazyBCouch,@WatchesThomasBird fork it you're back in he s...,1586131200
2,2020-04-06 00:02:00,Southton,______3333_____,Two month left bedoreefore you loose this vibe...,1586131320
3,2020-04-06 00:04:00,Broadview,RasoHorse49,"billeeeeer, i miss ytouou !",1586131440
4,2020-04-06 00:07:00,West Parton,CuriousPlateBobbie_Mallon,You obviously need to use rumble! #rumble #toW...,1586131620
...,...,...,...,...,...
41936,2020-04-10 11:59:00,Cheddarford,DerekNolan,next were going to watch them take down our ho...,1586519940
41937,2020-04-10 11:59:00,Safe Town,WileyPlateHunter,someone something something On someone he they...,1586519940
41938,2020-04-10 11:59:00,East Parton,LazyCBowl,re: Do yall think i can take my yacht out for ...,1586519940
41939,2020-04-10 11:59:00,Weston,JonesWhale21,re: guys we have no water and mittens and i ha...,1586519940
41940,2020-04-10 11:59:00,Scenic Vista,BBGirl,might as well go try to help at the theater.....,1586519940

In [12]:
df = pd.read_csv("df_final.csv")
list_region = df['location'].unique().tolist()
list_region_without_all = list_region
list_region.append('All')
print(list_region)

['Weston', 'Southton', 'Broadview', 'West Parton', 'Old Town', 'Terrapin Springs', 'Downtown', 'Southwest', 'Scenic Vista', 'East Parton', 'Cheddarford', 'Palace Hills', 'Safe Town', 'Easton', 'Chapparal', 'Northwest', 'Oak Willow', 'Pepper Mill', 'Wilson Forest', 'UNKNOWN', '<Location with-held due to contract>', 'All']

In [4]:
by_hour = pd.to_datetime(df['time']).dt.to_period("H").value_counts().sort_index()
by_hour.index = pd.PeriodIndex(by_hour.index)

df_hour = by_hour.rename_axis('hour').reset_index(name='counts')
df_hour

                 hour  counts
0    2020-04-06 00:00      24
1    2020-04-06 01:00      18
2    2020-04-06 02:00      22
3    2020-04-06 03:00      34
4    2020-04-06 04:00      76
..                ...     ...
103  2020-04-10 07:00     766
104  2020-04-10 08:00     312
105  2020-04-10 09:00     617
106  2020-04-10 10:00     357
107  2020-04-10 11:00     536

[108 rows x 2 columns]

In [5]:
df_region = []
for region in list_region_without_all:
  by_hour = pd.to_datetime(df['time'].loc[df['location']==region]).dt.to_period("H").value_counts().sort_index()
  by_hour.index = pd.PeriodIndex(by_hour.index)

  df_hour = by_hour.rename_axis('hour').reset_index(name='counts')
  df_hour['hour'] = df_hour['hour'].astype(str)
  df_region.append(df_hour)

by_hour = pd.to_datetime(df['time']).dt.to_period("H").value_counts().sort_index()
by_hour.index = pd.PeriodIndex(by_hour.index)

df_hour = by_hour.rename_axis('hour').reset_index(name='counts')
df_hour['hour'] = df_hour['hour'].astype(str)
df_region.append(df_hour)

In [6]:
ts = pd.to_datetime(df['time']).values.astype(np.int64) // 10 ** 9
ts

array([1586131200, 1586131200, 1586131320, ..., 1586519940, 1586519940,
       1586519940])

In [7]:
pd.Timestamp(ts[2], unit='s')

Timestamp('2020-04-06 00:02:00')

In [8]:
df_hour['ts'] = pd.to_datetime(df_hour['hour']).values.astype(np.int64) // 10 ** 9
df_hour

                 hour  counts          ts
0    2020-04-06 00:00      24  1586131200
1    2020-04-06 01:00      18  1586134800
2    2020-04-06 02:00      22  1586138400
3    2020-04-06 03:00      34  1586142000
4    2020-04-06 04:00      76  1586145600
..                ...     ...         ...
103  2020-04-10 07:00     766  1586502000
104  2020-04-10 08:00     312  1586505600
105  2020-04-10 09:00     617  1586509200
106  2020-04-10 10:00     357  1586512800
107  2020-04-10 11:00     536  1586516400

[108 rows x 3 columns]

In [9]:
df['ts'] = pd.to_datetime(df['time']).values.astype(np.int64) // 10 ** 9
df.loc[(df['ts']>1586131320) & (df['ts']<1586131920)]

,Unnamed: 0,Unnamed: 0.1,time,location,account,message,hashtag,ts
3,3,3,2020-04-06 00:04:00,Broadview,RasoHorse49,bill never i miss to you,[],1586131440
4,4,4,2020-04-06 00:07:00,West Parton,CuriousPlateBobbie_Mallon,you obviously need to use rumble,"['rumble', 'toWonder']",1586131620
5,5,5,2020-04-06 00:11:00,Old Town,Moore1961,i hate all the fawning apple johns lying around,[],1586131860
6,6,6,2020-04-06 00:11:00,Terrapin Springs,AttentativeKHouse,there like of min misconduct,[],1586131860

In [13]:
#line graph
df_line = df
# gen polarity for each message
polarity = []
for i in df_line['message']:
  try: 
    polarity.append(TextBlob(i).polarity)
  except TypeError:
    # print(i)
    i = "unknown language"
    polarity.append(0)
df_line.insert(5,'polarity',polarity)
df_line['Date_Hour'] = df_line['time'].str.slice(start=0, stop=13, step=None)
df_line.rename({'Unnamed: 0.1': 'index'}, axis=1, inplace=True)
df_line = df_line.drop(columns="Unnamed: 0")
#### here
array_grouped_df = []
for i in df_line['location'].unique():
  new_df = df_line.loc[df_line['location']==i].groupby("Date_Hour").mean()
  new_df['location'] = i
  array_grouped_df.append(new_df)

result = pd.concat(array_grouped_df)
result = result.drop(columns = 'index')
result2 = result.reset_index()

island_pol = result2.groupby("Date_Hour").mean()
island_pol = island_pol.reset_index()

island_pol.head()

       Date_Hour  polarity
0  2020-04-06 00 -0.101634
1  2020-04-06 01  0.252525
2  2020-04-06 02  0.015793
3  2020-04-06 03  0.109944
4  2020-04-06 04  0.070696

In [15]:
Sentiment_df = result2.groupby("Region").mean().reset_index()

KeyError: 'Region'

In [ ]:
St_Himark_Map = gpd.read_file("StHimark.shp")
#Sentiment_df = pd.read_csv("sentiment_by_regions.csv")
Sentiment_df = Sentiment_df.drop(['Unnamed: 0'], axis=1)
Sentiment_df

In [ ]:
Right_join = pd.merge(St_Himark_Map, 
                      Sentiment_df, 
                      on ='Nbrhood',
                      how ='right')
Right_join

In [ ]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

# df = pd.read_csv("https://raw.githubusercontent.com/Coding-with-Adam/Dash-by-Plotly/master/Cytoscape/org-data.csv")
# df = pd.read_csv("df_final.csv")

fig = go.Figure(
    data = [go.Scatter(
    x=df_hour['hour'].astype(dtype=str), 
    y=df_hour['counts'], 
    marker_color='green',
    text="counts")],
    layout = go.Layout(
      title = {'text':'Tweets count from 2020-04-06 to 2020-04-10 hour by hour', 'x':0.5, 'xanchor':'center'},
      xaxis = dict(rangeslider=dict(visible=True),title="Time"),
      yaxis = {"title":"Total tweets count"},
      showlegend = False
    ),
)   

fig_line_graph = go.Figure(
    data = [go.Scatter(
    x = island_pol['Date_Hour'],
    y = island_pol['polarity'],
    mode = 'lines',
    name = "Overall sentiment across Island"
    )],
    layout = go.Layout(
                  title = {'text':'Islandwise Sentiment during the Earthquake week', 'x':0.5, 'xanchor':'center'},
                  xaxis = dict(rangeslider=dict(visible=True),title="Time"),
                  showlegend = False)
)

color_list = ["#4E79A7","#A0CBE8", "#F28E2B","#FFBE7D","#59A14F","#8CD17D","#B6992D","#F1CE63","#499894","#86BCB6","#E15759","#FF9D9A","#79706E","#BAB0AC","#D37295","#FABFD2","#B07AA1","#D4A6C8","#9D7660","#D7B5A6", "#000000"]

df_time = pd.to_datetime(df['time']).values.astype(np.int64) // 10 ** 9


app.layout = html.Div([
    html.Div([
        dcc.RangeSlider(
            id='my-range-slider',
            min=df_time.min(),
            max=df_time.max(),
            value=[df_time.min(),df_time.max()],
            #marks={each : {"label": df_hour['hour'][each], "style": {"transform": "rotate(45deg)"}} for each, ts in enumerate(df_hour['ts'].unique())}
            marks= {int(df_hour['ts'][10]): str(df_hour['hour'][10]),
                    int(df_hour['ts'][20]): str(df_hour['hour'][20]),
                    int(df_hour['ts'][30]): str(df_hour['hour'][30]),
                    int(df_hour['ts'][40]): str(df_hour['hour'][40]),
                    int(df_hour['ts'][50]): str(df_hour['hour'][50]),
                    int(df_hour['ts'][60]): str(df_hour['hour'][60]),
                   int(df_hour['ts'][70]): str(df_hour['hour'][70]),
                   int(df_hour['ts'][80]): str(df_hour['hour'][80]),
                   int(df_hour['ts'][90]): str(df_hour['hour'][90]),
                   int(df_hour['ts'][100]): str(df_hour['hour'][100]),}
        ),
    ],style={'height': '50px', 'width': '100%','display': 'inline-block'}),
    html.Div([   
        dcc.Dropdown(
            id='slct_region',
            value=0,
            clearable=False,
            searchable=True,
            placeholder="Select a region",
            multi=False,
            options=[
                {'label': name.capitalize(), 'value':idx}
                for idx,name in enumerate(list_region)
            ]
        )
    ]),
    
    html.Div([
        dcc.Graph(figure=fig)
    ], className='six columns'),
    
    html.Div([
        dcc.Graph(id='region_count')
    ], className='six columns'),
    
    html.Div([
        dcc.Graph(
                    id ='line-graph',
                  figure = fig_line_graph)
    ], className='five columns'),
    
    html.Div([
        dash_table.DataTable(
        id='df-table',
        columns=[{"name": i, "id": i} for i in df.columns],
        data=df_orginal.to_dict('records'),
        filter_action='native',
        fixed_rows={'headers': True},
        style_table={
        'height': 400,
        })
    ], className='row'),

    html.Div([
        html.Div(id='empty-div', children='')
    ],className='one column'),

    # html.Div([
    #     dcc.RangeSlider(
    #     id='my-range-slider',
    #     min=df_time.min(),
    #     max=df_time.max(),
    #     value=[df_time.min(),df_time.max()],
    #     #marks = {minute:minute for minute in df_time.unique()}
    # ),
    # ], className='five columns'),

  ], className='row')

@app.callback(
    Output('region_count','figure'),
    Input('slct_region','value')
)

def build_region_graph(slct_region):
    dff = df_region[slct_region]
    
    figure_region = px.line(dff, x="hour", y="counts")
    figure_region.update_layout(
        title= {'text':'Tweets count from 2020-04-06 to 2020-04-10 hour by hour in different region','x':0.5,'xanchor':'center'},
        xaxis= {"title":"Time"},
        yaxis= {"title":"Total tweets count"},
        showlegend= True)
    figure_region.update_xaxes(
        rangeslider_visible=True
    )
    
    return figure_region

@app.callback(
    Output('df-table','data'),
    Input('my-range-slider', 'value'),
    Input('slct_region', 'value')
)

def update_df(value_selected,slct_region):
    filter_df = df_orginal.loc[(df_orginal['ts']>=value_selected[0])&(df_orginal['ts']<=value_selected[1])]
    filter_df = filter_df.loc[filter_df['location']==list_region[slct_region]]
    data = filter_df.to_dict('records')
    return data
# @app.callback(
#     Output('my-graph','figure'),
#     Input('org-chart','tapNodeData'),
# )
# def update_nodes(data):
#     if data is None:
#         return no_update
#     else:
#         dff = df.copy()
#         dff.loc[dff.name == data['label'], 'color'] = "yellow"
#         fig = px.bar(dff, x='name', y='slaves_freed')
#         fig.update_traces(marker={'color': dff['color']})
#         return fig

if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Dec/2021 23:09:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2021 23:09:26] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2021 23:09:26] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2021 23:09:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2021 23:09:27] "POST /_dash-update-component HTTP/1.1" 200 -